export MYSQL_DATABASE=epytodo
export MYSQL_HOST=database
export MYSQL_USER=user
export MYSQL_PASSWORD=password
export MYSQL_ROOT_PASSWORD=password
export SECRET=ea15929fac66ce574f44aabdde18dd67d30900bd6ee08e0c40df1de4cca1170e2fa5008fbdcaa4f868d45e4d18777276764536102a64fd808f98ad113193688e
export SERVER_PORT=8080
export SERVER_HOST=0.0.0.0
export MYSQL_ALLOW_EMPTY_PASSWORD=yes