# This is the private key of your account, you can get it in metamask
PRIVATE_KEY=
# This is the address of your account, the one associated with your private key
ADMIN_ADDRESS=
# Alchemy node url for ethereum sepolia network
RPC_URL=
# The address of your deployed ERC-1967 contract
PROXY=
# The address of the counter contract
CONTRACT_V1=
CONTRACT_V2=