<html>
    <head>
        <meta charset="UTF-8">
        <title>PoC - Logger</title>
    </head>
    <body>
        <link href='static/style.css' rel='stylesheet' type='text/css'>
        <div class="navbar">
            <ul class="navbar-container">
                <li><a href="#" class="left-underline nav-button brand-logo">SwiBiz</a></li>
                <li class="nav-item"><a href="#" class="left-underline nav-button" data-scroll>Wallet</a></li>
                <li class="nav-item"><a href="#" class="left-underline nav-button" data-scroll>Pictures</a></li>
                <li class="nav-item active"><a href="#" class="left-underline nav-button" data-scroll>Home</a></li>
            </ul>
        </div>
        <div class="parallax p1" id="section-1">
            <hgroup>
                <h1>Welcome to SwiBiz</h1>
                <h2>The best scamming platform !</h2>
            </hgroup>
        </div>
        <div class="row">
            <div class="col-3">
                <h1>1 - The scammer</h1>
                <p>In response to a budget dynamic, the structures will interact with the assessable openings. Once the transversality of subcontracting has been evaluated, the managers decide to audit the mobility alternatives. To outsource the expertise of subcontracting, it is better to perform organizational recapitalizations.</p>
            </div>
            <div class="col-3">
                <h1>2 - The mobster</h1>
                <p>To integrate an online / offline dynamic, the answer is simple: audit the decisional partners. Since the emergence of a quantitative dynamic, suppliers will anticipate quality management. Perpendicular to the operational governance, we must pilot the framework issues.</p>
            </div>
            <div class="col-3">
                <h1>3 - The launderer</h1>
                <p>In terms of revitalizing institutional globalization, the objective is obvious: <!DOCTYPE HTML>to decompartmentalize risk content. In response to the multiplicity of references, the ambition is clear: to revalue high-yield opportunities. Once the opportunity for intervention has been assessed, the mobility factors must be initiated.</p>
            </div>
        </div>
        <footer>
            <div class="footer-copyright">
                <div class="container">
                    © 2022 - SwiBiz corporation, All rights reserved.
                </div>
            </div>
        </footer>
    </body>
</html>
